@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-image: url(../LM-2021-SoundCave/assets/icons/imagens/headerbg.svg);
    background-color: rgba(26, 20, 29, .6);
    background-blend-mode: overlay;
    background-size: cover;
    background-attachment: fixed;
    background-position: center ;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 30% 40% 30%;
}

header #logoimg{
    height: 75px;
}

header h1#logotxt{

    font-size: 2rem;
    color:white;
    text-shadow: 4px 3px #BF07FF;
}

header #inicio{
    padding:10px 0 0 20px ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header #inicio h1{
    text-transform: uppercase;
}

header nav ul a{
    grid-row: 1/2;
    grid-column: 2/3;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}


header nav ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
}

header nav ul li{

    font-size: 1.2rem;
    padding: 35px;
}

header div.ind{
    font-size: 1rem;
    text-transform: uppercase;
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header div.ind h1{
    text-align:center;
    color: white;
}

header div a{
    margin-top: 2rem;
    font-size: 2rem;
    text-decoration: none;
    text-align: center ;
    padding:17px;
    width: 40vh;
    height: 6.5vh;
    background-color: white;
    border-bottom: 5px solid #BF07FF;
    border-right: 3px solid #BF07FF;
    border-radius: 10px;
    color: black;
}

main{
    display: grid;
    flex-direction: column;
    justify-content: center;
}

main section.experiencia, main section.seguranca, main section.usuario{
    margin-bottom: 3rem;
}
main section.experiencia{
    margin-top: 3rem;
}

main section div.ali{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 65vh;
}

main section.experiencia{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


main section h2,p{
    text-transform: uppercase;
}
main section h2{
    font-size: 1.5rem;
}
main section p{
    font-size: 1.3rem;
}

main section.experiencia img#exp{
    order: 1;
    max-height: 350px;
    max-width: 99%;
}
main section img#sec{
    max-height: 300px;
    max-width: 99%;
}
main section img#user{
    max-height: 200px;
    max-width: 99%;
}


main section.seguranca{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
main section.seguranca div.ali{
    order: 1;
}

main section.usuario{
    display: flex;
    justify-content: center;
    align-items: center;
}

main section.usuario img{
    order: 1;
}


footer{
    padding: 30px;
    background-color: #120317;
    text-align: center;
}

footer div#footer img#footerimg{
    height: 40px;
}

footer div#footer {
    margin-bottom: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div#copyright{
    display: inline-block;
}

footer div#footer h1#footertxt{
    text-transform: uppercase;
}

footer div#footer h1#footertxt{
    text-shadow: 3px 2px #BF07FF;
}

footer h3, h1 {
    color: white;
}

footer h1{
    font-size: 1.2em;
    margin-left: 1em;
}
@media all and (max-height:555px ){
    header div.ind a{
        display: flex;
        align-items: center;
    }
}

@media all and (max-width: 1024px){
    header div h1#logotxt{
        font-size: 1.5rem;
    }
    
}
@media all and (max-width: 900px){
    header nav{
        grid-column: 3/4;
        grid-row: 1/2;
    
    }
    header nav ul{
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }

    header nav ul li{
        padding-bottom: 0;
        padding-right: 20px;
    }
}

@media all and (max-width: 820px){

    main{
        padding-left: 20px;
        padding-right: 20px;
    }
    main section.experiencia img#exp, main section.seguranca img#sec{
        max-width: 150px;
    }
    main section.usuario img#user{
        max-width: 100px;
    }
    main section h2{
        font-size: 1.3rem;
    }
    main section p{
        font-size: 0.9rem;
    }
}

@media all and (max-width: 580px){
    header nav ul li:nth-child(n+2){
        padding-top: 10px;
    }
    header nav ul li{
        font-size: 0.8rem;
    }

    header div h1#logotxt{
        font-size: 1rem;
    }
    header div img#logoimg{
        max-height: 50px; ;
    }
    header div.ind h1{
        font-size: 1.4rem;
        text-align: center;
    }
    main img#exp, img#sec, img#user{
        margin-top: 25px;
    }
    main section.seguranca div.ali {
        order: 0;
    }
    main section.seguranca img#sec{
        order:1;
    }

    main section.usuario{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

}

